html{
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 2.5vh;
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Montserrat';
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'REM';
}

.px-6 {
    padding-left: 10%;
    padding-right: 10%;
}

.btn-default {
    background-color: #0b3e72;
    color: #ffffff;
}

.btn-default:hover {
    background-color: #efefef !important;
    color: #000000;
}
.wth-text{
    color:#ffffff !important;
}
.grn-text{
    color:#679e4e !important;
}
.grn-text :hover{
    color:#83d95b !important;
}
.bg-brown{
    background-color: #353535;
}

.absolute-div {
    border: 3px solid #679e4e;
    position: absolute;
    width: 500px;
    height: 200px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-left: 0;
      margin-left: auto; 
      margin-right: auto; 
      margin-top: auto; 
      margin-bottom: auto; 
      color: #000000;
}

.border-bottom {
    border-width: 3px !important;
}

.bg-gambar1 {
    background-image: url('https://cdn.pixabay.com/photo/2015/10/01/21/57/wallpaper-967836_1280.png');
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 0;
}

.transparent1 {
    width: 100%;
    height: 100%;
}

.slide-tittle{
    position: absolute;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.img-produk {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: 0 0;
}
.img-tes {
    border-radius: 100%;
    width: 40%;
}

.tentang {
    width: 100%;
    background-color: #2f68a3;
    color: #fff;

}

.img-carausel{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 10 10;
}
.card-title{
    font-weight: bold;
}
